@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --cor-primaria: #102E50;
    --cor-secundaria: #F5C45E;
    --cor-terciaria: #E78B48;
    --cor-houver:#BE3D2A;

    --fonte-primaria:"Montserrat", sans-serif;
    --fonte-secundaria:"Krona One", sans-serif;
}

body {
    color: var(--cor-secundaria);
    background-color: var(--cor-primaria);
}

.cabecalho{
    padding: 15px;
    background-color: var(--cor-terciaria);
  
}

.cabecalho__menu{
    display: flex;
    gap: 50px;
}

.cabecalho__menu__link{
    font-family: var(--fonte-primaria);
    font-size: 13px;
    font-weight: 600;
    color: var(--cor-primaria);
    text-decoration: none;
    
}
.cabecalho__menu__link:hover{
    color: var(--cor-houver);
    font-size: 15px;
}

.titulo-destaque{
    color: var(--cor-terciaria);
}

.apresentacao{
    display: flex;
    margin: 20px 20px;
}

.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 30px;

}
.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family: var(--fonte-secundaria);
}


.apresentacao__conteudo__texto{
    font-size: 20px;
    font-family: var(--fonte-primaria);
}


.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__link{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:  16px;
    width: 280px;
    border: 2px solid var(--cor-terciaria);
    color: var(--cor-secundaria);
    font-size: 24px;
    padding: 15px 0;
    border-radius: 16px;
    text-align: center;
    font-family: var(--fonte-primaria);
    font-weight: 600px;
    text-decoration: none;
}

.apresentacao__links__link:hover{
    background-color: var(--cor-houver);
    font-size: 26px;
}

.minhaFoto{
    width: auto;
    height: 400px;
    border-radius: 15px;
    box-shadow: 10px 10px 20px var(--cor-terciaria);
    margin-left: 100px; 
}

.rodape{
    padding: 15px;
    color:var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-primaria);
    font-weight: 600;
    font-size: 12px;
      
}

.apresentacao1{
    display: flex;
    flex-direction: column;
    margin: 20px 20px;
}

.apresentação__produtos{
    display: flex;
    align-items:baseline;
    margin: 20px;
}

.apresentacao__produtos__titulo{
    font-size: 36px;
    font-family: var(--fonte-secundaria);
    margin-bottom: 20px;
}

.apresentacao__produtos__texto{
    font-size: 24px;
    font-family: var(--fonte-primaria);
    margin-bottom: 20px;
 
}

.produto {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.produto__produtos{
    display: flex;
    flex: 1 1 calc(33% - 40px);
    flex-direction: column;
    border: 2px solid var(--cor-terciaria);
    border-radius: 15px;
    padding: 15px;
    
}

.imgProduto {
    width: auto;
    height: 200px;
    object-fit: cover;
}

.descricao {
    font-family: var(--fonte-primaria);
    font-size: 18px;
    margin: 10px 0;
    text-align: center;
      
}

.atributos {
    font-family: var(--fonte-primaria);
    font-size: 14px;
    margin: 5px 0;
    text-align: left;
    color: var(--cor-secundaria);
}

.produto__footer {
    display: flex;
    gap: 60px;
    margin-top: 20px;
}
.preco{
    font-family: var(--fonte-primaria);
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-secundaria);
}

.btn-compra {
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    padding: 10px;
    border-radius: 8px;
    font-family: var(--fonte-primaria);
    font-weight: 600;
    cursor: pointer;
}

.btn-compra:hover {
    background-color: var(--cor-houver);
    color: var(--cor-secundaria);
}
.apresentacao2{
    display: flexbox;
    flex-direction: column;
    margin: 20px 20px;
}

.topProduto {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    align-items: center;
}

.topProduto__produtos{
    display: flex;
    flex: 1 1 calc(33% - 40px);
    align-items: center;
    flex-direction: column;
    border: 2px solid var(--cor-terciaria);
    border-radius: 15px;
    padding: 15px;
    
}


form label, form legend {
    font-size: 16px;
    font-weight: 600;
    color: var(--cor-secundaria);
}

form input, form select{
    width: 50%;
    padding: 5px;
    margin-top: 8px;
    border-radius: 8px;
    border: 2px solid var(--cor-terciaria);
    font-family: var(--fonte-primaria);
    background-color: #fff;
}

form textarea{
    width: 90%;
    padding: 5px;
    margin-top: 8px;
}

form input:focus,
form select:focus,
form textarea:focus {
    border-color: var(--cor-houver);
    outline: none;
}

form input[type="submit"],
form input[type="reset"] {
    width: 48%;
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    border: none;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}

form input[type="submit"]:hover,
form input[type="reset"]:hover {
    background-color: var(--cor-houver);
    color: var(--cor-secundaria);
    transform: scale(1.05);
}

.legenda{
    font-size: 18px;
    font: var(--fonte-secundaria);
}

.mensagem-erro {
  display: block;
  color: #d93025; 
  font-size: 0.9rem;
  margin-top: 4px;
  margin-bottom: 8px;
  font-weight: 500;
}

.sacola{
    margin-left: auto;
    width: 20px;
    cursor: pointer;
}

.perfil{
    width: 20px;
    margin-right: 50px;
    cursor: pointer;
    
}