@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-houver:#272727;

    --fonte-primaria:"Montserrat", sans-serif;
    --fonte-secundaria:"Krona One", sans-serif;
}

body{
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.titulo-destaque{
    color: var(--cor-terciaria);
}

.apresentacao{
    display: flex;
}

.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family: var(--fonte-secundaria);
}

.apresentacao__conteudo__texto{
    font-size: 24px;
    font-family:var(--fonte-primaria);
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;

}

.apresentacao__links__link{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 280px;
    border: 2px solid var(--cor-terciaria);
    color: var(--cor-secundaria);
    font-size: 24px;
    padding: 15px 0;
    border-radius: 16px;
    text-align: center;
    font-family: var(--fonte-primaria);
    font-weight: 600px;
    text-decoration: none;
    
}

.apresentacao__links__link:hover{
    background-color: var(--cor-houver);
    font-size: 26px;
}

.minhafoto{
    width: auto;
    height: 500px;
    border-radius: 10%;
    border: 2px solid var(--cor-terciaria);
    box-shadow: 10px 10px 20px var(--cor-terciaria);
    
}

.rodape{
    padding: 15px;
    color:var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-primaria);
    font-weight: 600;
    font-size: 12px;
      
}

.cabecalho{
    padding: 2% 0% 2% 2%;
  
}

.cabecalho__menu{
    display: flex;
    gap: 50px;
}

.cabecalho__menu__link{
    font-family: var(--fonte-primaria);
    font-size: 12px;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
    
}

.apresentacao__conteudo__sobre{
    font-family: var(--fonte-primaria);
    font-size: 16px;
    
}

.apresentacao__conteudo__cadastro{
    font-family: var(--fonte-primaria);
    font-size: 14px;
}

