@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: #22d4fd;
}

.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family: "Krona One", sans-serif;
    text-align: center;
}

.apresentacao__conteudo__texto{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    text-align: justify;
}

.rodape{
    padding: 15px;
    color: black;
    background-color: #22D4Fd;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 12px;
      
}

.cabecalho{
    padding: 2% 0% 2% 2%;
  
}

.cabecalho__menu{
    display: flex;
    gap: 50px;
}

.cabecalho__menu__link{
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #22D4Fd;
    text-decoration: none;
    
}

.produto{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 40px;
}

.produto__produtos {
    border: 1px solid #22D4Fd;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.produto__produtos img {
    max-width: 100%;
    height: 150px;
    object-fit: contain;
    margin-bottom: 15px;
}

.produto-descricao {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #F6F6F6;
}

.produto-preco {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #22D4Fd;
}

.maisVendidos{
    background-color: #F6F6F6;
    color: purple;
    
}
.cabecalho__maisVendidos{
    display: flex;
    gap: 10px 20px;
    
}

.cabecalho__maisVendidos__link{
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: purple;
    text-decoration: none;
    
}
.topvendas{
    display: flex;
    gap: 30px;
    margin-top: 40px;
    justify-content: space-around;
    align-items: center;
 
    
}
.topvendas__produtos{
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: lightgray;
    padding: 20px;
    text-align: center;
    
    
}
.destino{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.destino__descrição{
  font-family: "Montserrat", sans-serif;
  
  
}

.botao{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    background-color: greenyellow;
    color: white;
    border: none;
    padding: 15px 40px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 20px;
    display:inline-block;
    
}
